<?xml version="1.0" encoding="UTF-8"?>
<!--
    MediaMapper的MyBatis映射文件
    功能要求：定义媒体资源相关的SQL语句，支持按类型过滤
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redhistory.mapper.MediaMapper">
    
    <select id="selectMediaByEvent" resultType="com.redhistory.model.Media">
        SELECT * FROM media
        WHERE event_id = #{eventId}
        <if test="type != null and type != ''">
            AND type = #{type}
        </if>
        ORDER BY type, id
    </select>
    
    <!-- 插入媒体 -->
    <insert id="insertMedia" parameterType="com.redhistory.model.Media">
        INSERT INTO media (id, type, url, title, event_id)
        VALUES (#{id}, #{type}, #{url}, #{title}, #{eventId})
    </insert>
    
    <!-- 更新媒体 -->
    <update id="updateMedia" parameterType="com.redhistory.model.Media">
        UPDATE media
        SET type = #{type}, url = #{url}, title = #{title}, event_id = #{eventId}
        WHERE id = #{id}
    </update>
    
    <!-- 删除媒体 -->
    <delete id="deleteMedia" parameterType="java.lang.String">
        DELETE FROM media WHERE id = #{id}
    </delete>
    
    <!-- 根据ID查询媒体详情 -->
    <select id="selectMediaById" resultType="com.redhistory.model.Media" parameterType="java.lang.String">
        SELECT * FROM media WHERE id = #{id}
    </select>
    
</mapper>

